In [1]:
import pandas as pd 
import numpy as np

In [2]:
data=pd.read_csv('car_data.csv')

In [3]:
data.head(4)

,Car_Name,Year,Selling_Price,Present_Price,Driven_kms,Fuel_Type,Selling_type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0

In [4]:
data.describe(include='object')

       Car_Name Fuel_Type Selling_type Transmission
count       301       301          301          301
unique       98         3            2            2
top        city    Petrol       Dealer       Manual
freq         26       239          195          261

In [5]:
data.isnull().sum()

Car_Name         0
Year             0
Selling_Price    0
Present_Price    0
Driven_kms       0
Fuel_Type        0
Selling_type     0
Transmission     0
Owner            0
dtype: int64

In [6]:
data['Car_Name'].unique()

array(['ritz', 'sx4', 'ciaz', 'wagon r', 'swift', 'vitara brezza',
       's cross', 'alto 800', 'ertiga', 'dzire', 'alto k10', 'ignis',
       '800', 'baleno', 'omni', 'fortuner', 'innova', 'corolla altis',
       'etios cross', 'etios g', 'etios liva', 'corolla', 'etios gd',
       'camry', 'land cruiser', 'Royal Enfield Thunder 500',
       'UM Renegade Mojave', 'KTM RC200', 'Bajaj Dominar 400',
       'Royal Enfield Classic 350', 'KTM RC390', 'Hyosung GT250R',
       'Royal Enfield Thunder 350', 'KTM 390 Duke ',
       'Mahindra Mojo XT300', 'Bajaj Pulsar RS200',
       'Royal Enfield Bullet 350', 'Royal Enfield Classic 500',
       'Bajaj Avenger 220', 'Bajaj Avenger 150', 'Honda CB Hornet 160R',
       'Yamaha FZ S V 2.0', 'Yamaha FZ 16', 'TVS Apache RTR 160',
       'Bajaj Pulsar 150', 'Honda CBR 150', 'Hero Extreme',
       'Bajaj Avenger 220 dtsi', 'Bajaj Avenger 150 street',
       'Yamaha FZ  v 2.0', 'Bajaj Pulsar  NS 200', 'Bajaj Pulsar 220 F',
       'TVS Apache RTR 180', 'Hero Passion X pro', 'Bajaj Pulsar NS 200',
       'Yamaha Fazer ', 'Honda Activa 4G', 'TVS Sport ',
       'Honda Dream Yuga ', 'Bajaj Avenger Street 220',
       'Hero Splender iSmart', 'Activa 3g', 'Hero Passion Pro',
       'Honda CB Trigger', 'Yamaha FZ S ', 'Bajaj Pulsar 135 LS',
       'Activa 4g', 'Honda CB Unicorn', 'Hero Honda CBZ extreme',
       'Honda Karizma', 'Honda Activa 125', 'TVS Jupyter',
       'Hero Honda Passion Pro', 'Hero Splender Plus', 'Honda CB Shine',
       'Bajaj Discover 100', 'Suzuki Access 125', 'TVS Wego',
       'Honda CB twister', 'Hero Glamour', 'Hero Super Splendor',
       'Bajaj Discover 125', 'Hero Hunk', 'Hero  Ignitor Disc',
       'Hero  CBZ Xtreme', 'Bajaj  ct 100', 'i20', 'grand i10', 'i10',
       'eon', 'xcent', 'elantra', 'creta', 'verna', 'city', 'brio',
       'amaze', 'jazz'], dtype=object)

In [7]:
pip install category_encoders

Requirement already satisfied: category_encoders in c:\users\yash\anaconda3\lib\site-packages (2.6.3)
Requirement already satisfied: numpy>=1.14.0 in c:\users\yash\anaconda3\lib\site-packages (from category_encoders) (1.26.4)
Requirement already satisfied: scikit-learn>=0.20.0 in c:\users\yash\anaconda3\lib\site-packages (from category_encoders) (1.4.2)
Requirement already satisfied: scipy>=1.0.0 in c:\users\yash\anaconda3\lib\site-packages (from category_encoders) (1.13.1)
Requirement already satisfied: statsmodels>=0.9.0 in c:\users\yash\anaconda3\lib\site-packages (from category_encoders) (0.14.2)
Requirement already satisfied: pandas>=1.0.5 in c:\users\yash\anaconda3\lib\site-packages (from category_encoders) (2.2.2)
Requirement already satisfied: patsy>=0.5.1 in c:\users\yash\anaconda3\lib\site-packages (from category_encoders) (0.5.6)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\yash\anaconda3\lib\site-packages (from pandas>=1.0.5->category_encoders) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\yash\anaconda3\lib\site-packages (from pandas>=1.0.5->category_encoders) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\yash\anaconda3\lib\site-packages (from pandas>=1.0.5->category_encoders) (2023.3)
Requirement already satisfied: six in c:\users\yash\anaconda3\lib\site-packages (from patsy>=0.5.1->category_encoders) (1.16.0)
Requirement already satisfied: joblib>=1.2.0 in c:\users\yash\anaconda3\lib\site-packages (from scikit-learn>=0.20.0->category_encoders) (1.4.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\yash\anaconda3\lib\site-packages (from scikit-learn>=0.20.0->category_encoders) (2.2.0)
Requirement already satisfied: packaging>=21.3 in c:\users\yash\anaconda3\lib\site-packages (from statsmodels>=0.9.0->category_encoders) (23.2)
Note: you may need to restart the kernel to use updated packages.

In [8]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
import category_encoders as ce

df = pd.DataFrame(data)

# Target Encoding for high cardinality column
target_encoder = ce.TargetEncoder(cols=['Car_Name'])
df['Car_Name_Encoded'] = target_encoder.fit_transform(df['Car_Name'], df['Selling_Price'])

# One-Hot Encoding for low cardinality column
df = pd.get_dummies(df, columns=['Fuel_Type'], prefix=['Fuel_Type'])
df['Fuel_Type_CNG'] = df['Fuel_Type_CNG'].astype(int)
df['Fuel_Type_Diesel'] = df['Fuel_Type_Diesel'].astype(int)
df['Fuel_Type_Petrol'] = df['Fuel_Type_Petrol'].astype(int)

# Label Encoding for binary columns
label_encoder = LabelEncoder()
df['Selling_type_Encoded'] = label_encoder.fit_transform(df['Selling_type'])
df['Transmission_Encoded'] = label_encoder.fit_transform(df['Transmission'])


# Drop original columns if not needed
df.drop(['Car_Name', 'Selling_type', 'Transmission'], axis=1, inplace=True)

# Print the resulting DataFrame
print(df)

     Year  Selling_Price  Present_Price  Driven_kms  Owner  Car_Name_Encoded  \
0    2014           3.35           5.59       27000      0          4.359131
1    2013           4.75           9.54       43000      0          4.363986
2    2017           7.25           9.85        6900      0          5.363296
3    2011           2.85           4.15        5200      0          4.300338
4    2014           4.60           6.87       42450      0          4.639168
..    ...            ...            ...         ...    ...               ...
296  2016           9.50          11.60       33988      0          6.441974
297  2015           4.00           5.90       60000      0          4.683807
298  2009           3.35          11.00       87934      0          6.441974
299  2017          11.50          12.50        9000      0          6.441974
300  2016           5.30           5.90        5464      0          4.683807

     Fuel_Type_CNG  Fuel_Type_Diesel  Fuel_Type_Petrol  Selling_type_Encoded  \
0                0                 0                 1                     0
1                0                 1                 0                     0
2                0                 0                 1                     0
3                0                 0                 1                     0
4                0                 1                 0                     0
..             ...               ...               ...                   ...
296              0                 1                 0                     0
297              0                 0                 1                     0
298              0                 0                 1                     0
299              0                 1                 0                     0
300              0                 0                 1                     0

     Transmission_Encoded
0                       1
1                       1
2                       1
3                       1
4                       1
..                    ...
296                     1
297                     1
298                     1
299                     1
300                     1

[301 rows x 11 columns]

In [9]:
df.head()

,Year,Selling_Price,Present_Price,Driven_kms,Owner,Car_Name_Encoded,Fuel_Type_CNG,Fuel_Type_Diesel,Fuel_Type_Petrol,Selling_type_Encoded,Transmission_Encoded
0,2014,3.35,5.59,27000,0,4.359131,0,0,1,0,1
1,2013,4.75,9.54,43000,0,4.363986,0,1,0,0,1
2,2017,7.25,9.85,6900,0,5.363296,0,0,1,0,1
3,2011,2.85,4.15,5200,0,4.300338,0,0,1,0,1
4,2014,4.60,6.87,42450,0,4.639168,0,1,0,0,1

In [10]:

# Calculate the loss percentage
df['Loss_Percentage'] = ((df['Present_Price'] - df['Selling_Price']) / df['Present_Price']) * 100

# Calculate the cost price based on the selling price and loss percentage
df['Cost_Price'] = (100 / (100 - df['Loss_Percentage'])) * df['Selling_Price']

# Display the DataFrame with the calculated cost prices
print(df)

     Year  Selling_Price  Present_Price  Driven_kms  Owner  Car_Name_Encoded  \
0    2014           3.35           5.59       27000      0          4.359131
1    2013           4.75           9.54       43000      0          4.363986
2    2017           7.25           9.85        6900      0          5.363296
3    2011           2.85           4.15        5200      0          4.300338
4    2014           4.60           6.87       42450      0          4.639168
..    ...            ...            ...         ...    ...               ...
296  2016           9.50          11.60       33988      0          6.441974
297  2015           4.00           5.90       60000      0          4.683807
298  2009           3.35          11.00       87934      0          6.441974
299  2017          11.50          12.50        9000      0          6.441974
300  2016           5.30           5.90        5464      0          4.683807

     Fuel_Type_CNG  Fuel_Type_Diesel  Fuel_Type_Petrol  Selling_type_Encoded  \
0                0                 0                 1                     0
1                0                 1                 0                     0
2                0                 0                 1                     0
3                0                 0                 1                     0
4                0                 1                 0                     0
..             ...               ...               ...                   ...
296              0                 1                 0                     0
297              0                 0                 1                     0
298              0                 0                 1                     0
299              0                 1                 0                     0
300              0                 0                 1                     0

     Transmission_Encoded  Loss_Percentage  Cost_Price
0                       1        40.071556        5.59
1                       1        50.209644        9.54
2                       1        26.395939        9.85
3                       1        31.325301        4.15
4                       1        33.042213        6.87
..                    ...              ...         ...
296                     1        18.103448       11.60
297                     1        32.203390        5.90
298                     1        69.545455       11.00
299                     1         8.000000       12.50
300                     1        10.169492        5.90

[301 rows x 13 columns]

In [11]:
df.drop(columns=['Loss_Percentage'], inplace=True)

In [12]:
df.head()

,Year,Selling_Price,Present_Price,Driven_kms,Owner,Car_Name_Encoded,Fuel_Type_CNG,Fuel_Type_Diesel,Fuel_Type_Petrol,Selling_type_Encoded,Transmission_Encoded,Cost_Price
0,2014,3.35,5.59,27000,0,4.359131,0,0,1,0,1,5.59
1,2013,4.75,9.54,43000,0,4.363986,0,1,0,0,1,9.54
2,2017,7.25,9.85,6900,0,5.363296,0,0,1,0,1,9.85
3,2011,2.85,4.15,5200,0,4.300338,0,0,1,0,1,4.15
4,2014,4.60,6.87,42450,0,4.639168,0,1,0,0,1,6.87

In [13]:
df['Year'].nunique()

16

In [14]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [15]:
X = df.drop(columns=['Selling_Price','Present_Price','Cost_Price','Owner'], axis=1)  # Features (all columns except Selling_Price)
y = df['Cost_Price']  # Target variable (Cost_Price)

# Split the data into training and test sets (80% train, 20% test)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=3)

# Initialize the linear regression model
model = LinearRegression()

# Fit the model using the training data
model.fit(X_train, y_train)

# Make predictions on the test data
y_pred = model.predict(X_test)

In [16]:
from sklearn.metrics import mean_squared_error, r2_score
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print("Mean Squared Error:", mse)
print("R-squared:", r2)

Mean Squared Error: 10.22061913993931
R-squared: 0.7721967985606962

In [17]:
import statsmodels.api as sm
X_train = sm.add_constant(X_train)
X_test = sm.add_constant(X_test)
model_sm = sm.OLS(y_train, X_train).fit()
print(model_sm.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:             Cost_Price   R-squared:                       0.709
Model:                            OLS   Adj. R-squared:                  0.700
Method:                 Least Squares   F-statistic:                     80.78
Date:                Wed, 10 Jul 2024   Prob (F-statistic):           1.21e-58
Time:                        12:27:59   Log-Likelihood:                -720.91
No. Observations:                 240   AIC:                             1458.
Df Residuals:                     232   BIC:                             1486.
Df Model:                           7
Covariance Type:            nonrobust
========================================================================================
                           coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------
const                  248.7171    201.847      1.232      0.219    -148.970     646.404
Year                    -0.1744      0.133     -1.307      0.192      -0.437       0.088
Driven_kms             5.14e-06   9.88e-06      0.520      0.603   -1.43e-05    2.46e-05
Car_Name_Encoded         6.0647      0.405     14.987      0.000       5.267       6.862
Fuel_Type_CNG           83.8623     67.246      1.247      0.214     -48.629     216.354
Fuel_Type_Diesel        83.0452     67.409      1.232      0.219     -49.766     215.857
Fuel_Type_Petrol        81.8096     67.258      1.216      0.225     -50.706     214.325
Selling_type_Encoded    -1.7077      0.806     -2.118      0.035      -3.296      -0.119
Transmission_Encoded    -1.5323      0.997     -1.537      0.126      -3.497       0.432
==============================================================================
Omnibus:                      386.034   Durbin-Watson:                   2.057
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            94756.315
Skew:                           7.886   Prob(JB):                         0.00
Kurtosis:                      99.057   Cond. No.                     6.96e+20
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.37e-30. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [45]:
# Feature engineering: Transform Year to Age and Driven_kms to log scale
df['Car_Age'] = 2024 - df['Year']  # Calculate car age
df['Driven_kms_log'] = np.log(df['Driven_kms'])  # Log transformation of Driven_kms

# Separate features (X) and target variable (y)
X = df[[ 'Car_Age', 'Driven_kms_log',
        'Car_Name_Encoded', 'Fuel_Type_CNG', 'Fuel_Type_Diesel', 'Fuel_Type_Petrol',
        'Selling_type_Encoded', 'Transmission_Encoded']]
y = df['Cost_Price']

# Add constant term to the predictor variables
X = sm.add_constant(X)

# Fit OLS regression model
model = sm.OLS(y, X).fit()

# Print model summary
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:             Cost_Price   R-squared:                       0.721
Model:                            OLS   Adj. R-squared:                  0.715
Method:                 Least Squares   F-statistic:                     108.4
Date:                Wed, 10 Jul 2024   Prob (F-statistic):           1.69e-77
Time:                        12:32:49   Log-Likelihood:                -883.39
No. Observations:                 301   AIC:                             1783.
Df Residuals:                     293   BIC:                             1812.
Df Model:                           7
Covariance Type:            nonrobust
========================================================================================
                           coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------
const                  -14.3195      2.846     -5.032      0.000     -19.921      -8.719
Car_Age                  0.1136      0.116      0.976      0.330      -0.115       0.343
Driven_kms_log           0.1951      0.356      0.548      0.584      -0.505       0.896
Car_Name_Encoded         5.5553      0.332     16.709      0.000       4.901       6.210
Fuel_Type_CNG           -3.9344      2.603     -1.511      0.132      -9.058       1.189
Fuel_Type_Diesel        -4.5560      1.452     -3.139      0.002      -7.413      -1.699
Fuel_Type_Petrol        -5.8292      1.196     -4.874      0.000      -8.183      -3.476
Selling_type_Encoded    -1.9269      0.692     -2.786      0.006      -3.288      -0.566
Transmission_Encoded    -2.7245      0.838     -3.250      0.001      -4.374      -1.075
==============================================================================
Omnibus:                      496.487   Durbin-Watson:                   1.486
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           175228.964
Skew:                           8.684   Prob(JB):                         0.00
Kurtosis:                     119.919   Cond. No.                     1.15e+17
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 5.55e-30. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [19]:
df.head()

,Year,Selling_Price,Present_Price,Driven_kms,Owner,Car_Name_Encoded,Fuel_Type_CNG,Fuel_Type_Diesel,Fuel_Type_Petrol,Selling_type_Encoded,Transmission_Encoded,Cost_Price,Car_Age,Driven_kms_log
0,2014,3.35,5.59,27000,0,4.359131,0,0,1,0,1,5.59,10,10.203592
1,2013,4.75,9.54,43000,0,4.363986,0,1,0,0,1,9.54,11,10.668955
2,2017,7.25,9.85,6900,0,5.363296,0,0,1,0,1,9.85,7,8.839277
3,2011,2.85,4.15,5200,0,4.300338,0,0,1,0,1,4.15,13,8.556414
4,2014,4.60,6.87,42450,0,4.639168,0,1,0,0,1,6.87,10,10.656082

In [47]:
from sklearn.metrics import mean_squared_error, r2_score
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print("Mean Squared Error:", mse)
print("R-squared:", r2)

Mean Squared Error: 10.22061913993931
R-squared: 0.7721967985606962