In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [8]:
# Load the dataset
print(data.isnull().sum())

data = pd.read_csv('cleaned train (3).csv')

# Display the first few rows
data.head()

,Customer_ID,Month,Age,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,3392,1,23.0,Scientist,19114.12,1824.843333,3.0,4.0,3.0,4.0,...,Good,809.98,26.822620,265.0,No,49.574949,24.785217,High_spent_Small_value_payments,312.494089,Good
1,3392,2,23.0,Scientist,19114.12,1824.843333,3.0,4.0,3.0,4.0,...,Good,809.98,31.944960,266.0,No,49.574949,24.785217,Low_spent_Large_value_payments,284.629162,Good
2,3392,3,23.0,Scientist,19114.12,1824.843333,3.0,4.0,3.0,4.0,...,Good,809.98,28.609352,267.0,No,49.574949,24.785217,Low_spent_Medium_value_payments,331.209863,Good
3,3392,4,23.0,Scientist,19114.12,1824.843333,3.0,4.0,3.0,4.0,...,Good,809.98,31.377862,268.0,No,49.574949,24.785217,Low_spent_Small_value_payments,223.451310,Good
4,3392,5,23.0,Scientist,19114.12,1824.843333,3.0,4.0,3.0,4.0,...,Good,809.98,24.797347,269.0,No,49.574949,24.785217,High_spent_Medium_value_payments,341.489231,Good

In [10]:
# Cell 3
print(data.info())
print(data.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 25 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Customer_ID               100000 non-null  int64
 1   Month                     100000 non-null  int64
 2   Age                       100000 non-null  float64
 3   Occupation                100000 non-null  object
 4   Annual_Income             100000 non-null  float64
 5   Monthly_Inhand_Salary     100000 non-null  float64
 6   Num_Bank_Accounts         100000 non-null  float64
 7   Num_Credit_Card           100000 non-null  float64
 8   Interest_Rate             100000 non-null  float64
 9   Num_of_Loan               100000 non-null  float64
 10  Type_of_Loan              100000 non-null  object
 11  Delay_from_due_date       100000 non-null  float64
 12  Num_of_Delayed_Payment    100000 non-null  float64
 13  Changed_Credit_Limit      100000 non-null  float64
 14  Num_Credit_Inquiries      100000 non-null  float64
 15  Credit_Mix                100000 non-null  object
 16  Outstanding_Debt          100000 non-null  float64
 17  Credit_Utilization_Ratio  100000 non-null  float64
 18  Credit_History_Age        100000 non-null  float64
 19  Payment_of_Min_Amount     100000 non-null  object
 20  Total_EMI_per_month       100000 non-null  float64
 21  Amount_invested_monthly   100000 non-null  float64
 22  Payment_Behaviour         100000 non-null  object
 23  Monthly_Balance           100000 non-null  float64
 24  Credit_Score              100000 non-null  object
dtypes: float64(17), int64(2), object(6)
memory usage: 19.1+ MB
None
Customer_ID                 0
Month                       0
Age                         0
Occupation                  0
Annual_Income               0
Monthly_Inhand_Salary       0
Num_Bank_Accounts           0
Num_Credit_Card             0
Interest_Rate               0
Num_of_Loan                 0
Type_of_Loan                0
Delay_from_due_date         0
Num_of_Delayed_Payment      0
Changed_Credit_Limit        0
Num_Credit_Inquiries        0
Credit_Mix                  0
Outstanding_Debt            0
Credit_Utilization_Ratio    0
Credit_History_Age          0
Payment_of_Min_Amount       0
Total_EMI_per_month         0
Amount_invested_monthly     0
Payment_Behaviour           0
Monthly_Balance             0
Credit_Score                0
dtype: int64

In [12]:
# Identify categorical columns
categorical_cols = df.select_dtypes(include=['object']).columns.tolist()
print("Categorical Columns:", categorical_cols)

Categorical Columns: ['Occupation', 'Type_of_Loan', 'Credit_Mix', 'Payment_of_Min_Amount', 'Payment_Behaviour', 'Credit_Score']

In [14]:
# Encode nominal variables using One-Hot Encoding
df = pd.get_dummies(df, columns=categorical_cols[:-1], drop_first=True)

# Display the updated dataframe
print("DataFrame after One-Hot Encoding:\n", df.head())

DataFrame after One-Hot Encoding:
    Customer_ID  Month   Age  Annual_Income  Monthly_Inhand_Salary  \
0         3392      1  23.0       19114.12            1824.843333
1         3392      2  23.0       19114.12            1824.843333
2         3392      3  23.0       19114.12            1824.843333
3         3392      4  23.0       19114.12            1824.843333
4         3392      5  23.0       19114.12            1824.843333

   Num_Bank_Accounts  Num_Credit_Card  Interest_Rate  Num_of_Loan  \
0                3.0              4.0            3.0          4.0
1                3.0              4.0            3.0          4.0
2                3.0              4.0            3.0          4.0
3                3.0              4.0            3.0          4.0
4                3.0              4.0            3.0          4.0

   Delay_from_due_date  ...  \
0                  3.0  ...
1                  3.0  ...
2                  3.0  ...
3                  5.0  ...
4                  6.0  ...

   Type_of_Loan_student loan,student loan,student loan,personal loan,personal loan,mortgage loan,mortgage loan,credit-builder loan  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

   Credit_Mix_Good  Credit_Mix_Standard  Payment_of_Min_Amount_No  \
0             True                False                      True
1             True                False                      True
2             True                False                      True
3             True                False                      True
4             True                False                      True

   Payment_of_Min_Amount_Yes  \
0                      False
1                      False
2                      False
3                      False
4                      False

   Payment_Behaviour_High_spent_Medium_value_payments  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                               True

   Payment_Behaviour_High_spent_Small_value_payments  \
0                                               True
1                                              False
2                                              False
3                                              False
4                                              False

   Payment_Behaviour_Low_spent_Large_value_payments  \
0                                             False
1                                              True
2                                             False
3                                             False
4                                             False

   Payment_Behaviour_Low_spent_Medium_value_payments  \
0                                              False
1                                              False
2                                               True
3                                              False
4                                              False

  Payment_Behaviour_Low_spent_Small_value_payments
0                                            False
1                                            False
2                                            False
3                                             True
4                                            False

[5 rows x 6303 columns]

In [28]:
from sklearn.preprocessing import StandardScaler
# Separate numerical features
numerical_cols = data.select_dtypes(include=['float64', 'int64']).columns

# Initialize the scaler
scaler = StandardScaler()

# Scale the numerical features
data[numerical_cols] = scaler.fit_transform(data[numerical_cols])

# Display the updated dataframe
print("DataFrame after scaling numerical features:\n", data.head())

DataFrame after scaling numerical features:
    Customer_ID     Month       Age Occupation  Annual_Income  \
0    -1.575309 -1.527525 -0.957867  Scientist      -0.819625
1    -1.575309 -1.091089 -0.957867  Scientist      -0.819625
2    -1.575309 -0.654654 -0.957867  Scientist      -0.819625
3    -1.575309 -0.218218 -0.957867  Scientist      -0.819625
4    -1.575309  0.218218 -0.957867  Scientist      -0.819625

   Monthly_Inhand_Salary  Num_Bank_Accounts  Num_Credit_Card  Interest_Rate  \
0              -0.744656          -0.913488        -0.741942      -1.319266
1              -0.744656          -0.913488        -0.741942      -1.319266
2              -0.744656          -0.913488        -0.741942      -1.319266
3              -0.744656          -0.913488        -0.741942      -1.319266
4              -0.744656          -0.913488        -0.741942      -1.319266

   Num_of_Loan  ... Credit_Mix  Outstanding_Debt  Credit_Utilization_Ratio  \
0     0.190946  ...       Good         -0.533485                 -1.067562
1     0.190946  ...       Good         -0.533485                 -0.066489
2     0.190946  ...       Good         -0.533485                 -0.718376
3     0.190946  ...       Good         -0.533485                 -0.177318
4     0.190946  ...       Good         -0.533485                 -1.463366

   Credit_History_Age  Payment_of_Min_Amount Total_EMI_per_month  \
0            0.439339                     No           -0.439426
1            0.449371                     No           -0.439426
2            0.459403                     No           -0.439426
3            0.469435                     No           -0.439426
4            0.479468                     No           -0.439426

   Amount_invested_monthly                 Payment_Behaviour  Monthly_Balance  \
0                -0.827334   High_spent_Small_value_payments        -0.404207
1                -0.827334    Low_spent_Large_value_payments        -0.542365
2                -0.827334   Low_spent_Medium_value_payments        -0.311411
3                -0.827334    Low_spent_Small_value_payments        -0.845693
4                -0.827334  High_spent_Medium_value_payments        -0.260445

  Credit_Score
0         Good
1         Good
2         Good
3         Good
4         Good

[5 rows x 25 columns]

In [32]:
# Check the data types of the features
print(data.dtypes)

Customer_ID                 float64
Month                       float64
Age                         float64
Occupation                   object
Annual_Income               float64
Monthly_Inhand_Salary       float64
Num_Bank_Accounts           float64
Num_Credit_Card             float64
Interest_Rate               float64
Num_of_Loan                 float64
Type_of_Loan                 object
Delay_from_due_date         float64
Num_of_Delayed_Payment      float64
Changed_Credit_Limit        float64
Num_Credit_Inquiries        float64
Credit_Mix                   object
Outstanding_Debt            float64
Credit_Utilization_Ratio    float64
Credit_History_Age          float64
Payment_of_Min_Amount        object
Total_EMI_per_month         float64
Amount_invested_monthly     float64
Payment_Behaviour            object
Monthly_Balance             float64
Credit_Score                 object
dtype: object

In [34]:
from sklearn.model_selection import train_test_split

# Separate features and target variable
X = df.drop(columns=['Credit_Score'])  # Features
y = df['Credit_Score']                  # Target variable

# Split the dataset into training and testing sets (80% training, 20% testing)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Display the shapes of the resulting datasets
print(f"Training data shape: {X_train.shape}, Training target shape: {y_train.shape}")
print(f"Testing data shape: {X_test.shape}, Testing target shape: {y_test.shape}")

Training data shape: (80000, 6302), Training target shape: (80000,)
Testing data shape: (20000, 6302), Testing target shape: (20000,)

In [36]:
# Initialize the label encoder
label_encoder = LabelEncoder()

# Fit and transform the target variable
y_train_encoded = label_encoder.fit_transform(y_train)
y_test_encoded = label_encoder.transform(y_test)

# Display the encoded values for the first 5 entries
print("Encoded Training Target Values (first 5):", y_train_encoded[:5])
print("Encoded Testing Target Values (first 5):", y_test_encoded[:5])

Encoded Training Target Values (first 5): [2 0 0 2 0]
Encoded Testing Target Values (first 5): [0 1 0 1 0]

In [38]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, accuracy_score

# Initialize the Random Forest Classifier
rf_model = RandomForestClassifier(random_state=42)

# Train the model
rf_model.fit(X_train, y_train_encoded)

# Predict on the test set
y_pred = rf_model.predict(X_test)

# Evaluate the model
accuracy = accuracy_score(y_test_encoded, y_pred)
report = classification_report(y_test_encoded, y_pred)

print("Accuracy of Random Forest model:", accuracy
print("\nClassification Report:\n", report)

Accuracy of Random Forest model: 0.82535

Classification Report:
               precision    recall  f1-score   support

           0       0.79      0.78      0.79      3527
           1       0.82      0.84      0.83      5874
           2       0.84      0.83      0.84     10599

    accuracy                           0.83     20000
   macro avg       0.82      0.82      0.82     20000
weighted avg       0.83      0.83      0.83     20000